body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../login_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:44px;
    top:89px;
    width:241px;
    height:99px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:99px;
}

.u1 {
    position:absolute;
    left:2px;
    top:42px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../login_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:542px;
    top:22px;
    width:315px;
    height:37px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:34px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:27px
}

.u4_normal {
    background-image: url('../login_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:22px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../login_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:22px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../login_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:22px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../login_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:41px;
    top:22px;
    width:315px;
    height:35px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u12_normal {
    background-image: url('../login_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../login_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../login_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../login_files/u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:676px;
    top:86px;
    width:175px;
    height:291px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:288px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:165px;
    height:281px
}

.u20_normal {
    background-image: url('../login_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:88px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:94px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../login_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:88px;
    width:160px;
    height:96px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:102px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../login_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:184px;
    width:160px;
    height:92px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:98px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../login_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:612px;
    height:3px;
}

.u26 {
    position:absolute;
    left:44px;
    top:208px;
    width:612px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:307px;
    top:163px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_line {
    background-image: url('../login_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:3px;
    width:788px;
    height:5px;
}

.u28 {
    position:absolute;
    left:57px;
    top:541px;
    width:788px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:57px;
    top:592px;
    width:293px;
    height:114px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:120px;
    top:274px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:120px;
    top:346px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../login_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:294px;
    top:448px;
    width:133px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:392px;
    top:278px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:392px;
    top:346px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

