{% extends "base.html" %}
{% block title %}Question Detail{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/question_detail.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/nyroModal.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/select2.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.23.custom.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/handlers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.adapter.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.json-2.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nyroModal.custom.min.js"></script>
<script type="text/javascript">
    var csrfvalue='{{ csrf_token }}';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/intemass.util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/question_detail.js"></script>
{% endblock %}

{% block content %}
<div class="container_12">
    <h1 class="samples" style="float:left">
        Question, Standard Answer, Mark Scheme
    </h1>

    <div id="question_detail_tabs">
        <ul>
            <li><a href="#question_detail_tabs-1">Question</a></li>
            <li><a href="#question_detail_tabs-2">Standard Answer</a></li>
            <li><a href="#question_detail_tabs-3">Mark Scheme</a></li>
        </ul>
        <div id="question_detail_tabs-1">
            <div id="question_info">
                <p>
                <label for="question_id">Question ID :</label>
                <select id="question_id">
                    <option value='-1'>New Question</option>
                    {% for question in questions %}  
                    <option value="{{ question.id }}">{{ question.qname }}</option>
                    {% endfor %}
                </select>
                </p>
                <p>
                <label for="question_name">Question Name:</label>
                <!--<input id="question_name" type="text" value='New Question' ></input>-->
                <span id="question_name" type="text" width="100" maxlength="100" class="editable"></span>
                </p>

                <p>
                <label for="question_description" >Question Description:</label>
                <textarea id="question_description" cols='30' rows='7' type="text" value={{ question.description }}></textarea>
                </p>

                <p>
                <label for="question_type">Question Type:</label>
                <select id="question_type" >
                    <option value='Review'>Review</option>
                    <option value='Formal'>Formal</option>
                </select>
                </p>
  
                <p>
                <label>Item Pool:</label>
                <select id="itempool_id" >
                    {% for itempool in itempools%}  
                        {% if itempool.id == selitempoolid %}
                        <option value="{{itempool.id}}" selected="selected">{{ itempool.poolname }}</option>
                        {% else %}
                        <option value="{{itempool.id}}">{{ itempool.poolname}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </p>

                <p id='question_canvas'>
                    <label>Question Graph:</label>
                    <textarea rows="2" cols="35"></textarea>
                </p>
            </div>

            <div id="question_content">
                <textarea id="question_editor"></textarea>
                <div class="qupload_div">
                    <h4 class="ui-widget-header" id="choose_some_images_1">Choose some images</h4>
                    <div class="fieldset flash" id="fsUploadProgress">
                        <span class="legend"></span>
                    </div>
                    <!--<div id="divStatus">0 Files Uploaded</div>-->
                    <div style="margin:1em 0 1em 0;">
                        <span id="qupload"></span>
                        <a id="btnCancel" class="btnCancel" href="javaScript:swfu.cancelQueue();">Cancel</a>
                    </div>
                    <h4 class="ui-widget-header">Uploaded Images</h4>
                    <div id="thumbnails" class="ui-widget-content ui-state-default">
                        <ul class="gallery ui-helper-reset ui-helper-clearfix"> </ul>
                    </div>
                </div>
            </div>
            <div>
                <a class="blueBtn" id="submit1">Submit</a>
            </div>
        </div>

        <div id="question_detail_tabs-2">
            <div>
                <p id='stdanswer_canvas'>
                    <label>Stdanswer :</label>
                    <textarea rows="2" cols="35"></textarea>
                </p>
            </div>

            <div id="standard_content">
                <label style="color:black;font-size:20px;">Standard Answer:</label>
                <textarea id="standard_editor"></textarea>
                <div class="supload_div">
                    <h4 class="ui-widget-header" id="choose_some_images_2">Choose some images</h4>
                    <div class="fieldset flash" id="fsUploadProgress1">
                        <span class="legend"></span>
                    </div>
                    <!--<div id="divStatus">0 Files Uploaded</div>-->
                    <div style="margin:1em 0 1em 0;">
                        <span id="supload"></span>
                        <a id="btnCancel1" class="btnCancel" href="javaScript:swfu1.cancelQueue();">Cancel</a>
                    </div>
                    <h4 class="ui-widget-header">Uploaded Images</h4>
                    <div id="std_thumbnails" class="ui-widget-content ui-state-default">
                        <ul class="gallery ui-helper-reset ui-helper-clearfix"> </ul>
                    </div>
                </div>
            </div>
            <div>
                <a class="blueBtn" id="submit2">Submit</a>
            </div>
        </div>

        <div id="question_detail_tabs-3">

            <h5>Standard Graph Answer Rules</h5>
            <table class="templates">
                <thead>
                    <tr>
                        <th>Point</th>
                        <th>Content</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
            <div id="canvasrules" class="templates"></div>
            <h5>Graphrule Scheme Templates</h5>
            <table id="canvasrule_templates" class="templates">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Mark</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="canvasruletbody"></tbody>
            </table>

            <h5>Mark Scheme Templates</h5>
            <table id="templates_table" class="templates">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Mark</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="markschemetbody"></tbody>
            </table>
            <h5 id="rulecount">Converted Rules</h5>
            <table id="rules_table">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody id="rulestbody"></tbody>
            </table>
            <hr/>
            <div id='rule_templates'>
                <label>ALL POINTS LESS X.X OR X.X</label>
                <input id="sample_template_t1" class="left" type="text" />
                <input id="sample_template_mark_1" class="right" type="text" />

                <label>ALL POINTS LESS X.X AND X.X</label>
                <input id="sample_template_t2" class="left" type="text" />
                <input id="sample_template_mark_2" class="right" type="text" />

                <label>ALL POINTS LESS TWO COMBINATION OF X.X AND X.X AND X.X AND X.X</label>
                <input id="sample_template_t3" class="left" type="text" />
                <input id="sample_template_mark_3" class="right" type="text" />

                <label>ONLY TWO COMBINATION OF X.X AND X.X AND X.X</label>
                <input id="sample_template_t4" class="left" type="text" />
                <input id="sample_template_mark_4" class="right" type="text" />

                <label>CUSTOM TEMPLATE</label>
                <input id="cust_template" class="left" type="text" />
                <input id="cust_template_mark" class="right" type="text" />
            </div>

            <a type="button" id="submit3" class="greenBtn">Save</a>
        </div>
    </div>
</div>
<div style='display:none;' id="dialog-process" title="Processing">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Processing your request...</p>
	<div id="progressbar"></div>
</div>
<div style='display:none;' id="dialog-success" title="Successfully Upload Question">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You have successfully uploaded the question.</p>
</div>
<div style='display:none;' id="dialog-failure" title="Question Content Incomplete">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please check: questionname and content can't be null.</p>
</div>
<div style='display:none;' id="dialog-canvas-failure" title="Questionid Not Correct">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please check: questionname and id must be valid.</p>
</div>
<div style='display:none;' id="dialog-failure-image" title="Upload Unmatched StandardAnswer Image">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please check: standard answer image must in questionimage.</p>
</div>
<div style='display:none;' id="dialog-success-stdanswer" title="Successfully Upload Question">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You have successfully uploaded the standard answer.</p>
</div>
{% endblock %}
