{% extends "base.html" %}
{% block title %}Management{% endblock %} 
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/teacher_index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/django.csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/datatable_custom.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/select2.css">
<script type="text/javascript">
    var STUDENTDELETE_URL = "{% url student_delete %}";
    var CLASSROOMDELETE_URL = "{% url classroom_delete %}";
    var ITEMPOOLDELETE_URL = "{% url itempool_delete %}";
    var PAPERDELETE_URL = "{% url paper_delete %}";
    var ASSIGNMENTDELETE_URL = "{% url assignment_delete %}";
</script>
{% endblock%}

{% block content %}
<div class="container_12">
    <div class="grid_12">
        <div id="tabs3" style="width: 1000px; height: 1500px;">
            <ul>
                <li style="width: 200px;"><a href="#tabs3-1">Student Management</a></li>
                <li style="width: 200px;"><a href="#tabs3-2">Assignment Management</a></li>
                <li style="width: 200px;"><a href="#tabs3-3">Option Management</a></li>
            </ul>

            <div id="tabs3-1">
                <div class="grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;">
                    <h1 class="grid_6 alpha"style="margin-bottom:1px;padding-bottom:1px;" >Student Management</h1>
                    <h1 class="grid_6 omega"style="margin-bottom:1px;padding-bottom:1px;"><a href="{% url student_add %}" class='addBtn'>Add Student</a></h1>
                </div>
                <div class="grid_12 alpha omega">
                    <table id="students" class="datatable_display">
                        <thead>
                            <tr>
                                <th width="20%">STUDENT</th>
                                <th width="20%">E-MAIL</th>
                                <th width="30%">LAST LOGIN</th>
                                <th width="30%">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;margin-top:5em;">
                    <h1 class="grid_6 alpha"style="margin-bottom:1px;padding-bottom:1px;" >Class Management</h1>
                    <h1 class="grid_6 omega"style="margin-bottom:1px;padding-bottom:1px;"><a href="{% url classroom_add %}" class='addBtn'>Add Class</a></h1>
                </div>
                <div class="grid_12 alpha omega" >
                    <table id="classrooms" class="datatable_display">
                        <thead>
                            <tr>
                                <th >CLASSNAME</th>
                                <th >VOLUME</th>
                                <th >ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tabs3-2" style="height: 600px;">
                <div class="grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;">
                    <h1 class="grid_6 alpha"style="margin-bottom:1px;padding-bottom:1px;" >Item Pool Management</h1>
                    <h1 class="grid_6 omega"style="margin-bottom:1px;padding-bottom:1px;"><a href="{% url itempool_add %}" class='addBtn'>Add Item Pool</a></h1>
                </div>
                <div class="grid_12 alpha omega" >
                    <table id="itempools" class="datatable_display">
                        <thead>
                            <tr>
                                <th>POOLNAME</th>
                                <th>DESCRIPTION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;margin-top:5em;">
                    <h1 class="grid_6 alpha"style="margin-bottom:1px;padding-bottom:1px;" >Paper Management</h1>
                    <h1 class="grid_6 omega"style="margin-bottom:1px;padding-bottom:1px;"><a href="{% url paper_add %}" class='addBtn'>Add Paper</a></h1>
                </div>
                <div class="grid_12 alpha omega" >
                    <table id="papers" class="datatable_display">
                        <thead>
                            <tr>
                                <th>PAPERNAME</th>
                                <th>ASSIGNMENT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;margin-top:5em;">
                    <h1 class="grid_6 alpha"style="margin-bottom:1px;padding-bottom:1px;" >Assignment Management</h1>
                    <h1 class="grid_6 omega"style="margin-bottom:1px;padding-bottom:1px;"><a href="{% url assignment_add %}" class='addBtn'>Add Assignment</a></h1>
                </div>
                <div class="grid_12 alpha omega" >
                    <table id="assignments" class="datatable_display">
                        <thead>
                            <tr>
                                <th width="20%">NAME</th>
                                <th width="30%">DATE</th>
                                <th width="20%">DESCRIPTION</th>
                                <th width="30%">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="tabs3-3">
                <div class="content grid_12 alpha omega" style="margin-bottom:1px;padding-bottom:1px;margin-top:5em;">
                    <form id="optionform"  method="post" action='{% url teacher_index %}'>{% csrf_token %}
                        <p><label for="id_year">Year:</label>
                        {{ form.year }}
                        </p>
                        <p><label for="id_subject">Subject:</label>
                        {{ form.subject }}
                        </p>
                        <p><label for="id_level">Level:</label>
                        {{ form.level }}
                        </p>
                        <p>
                        <input class="greenBtn" type='submit' style="float:right;margin:8em 10em 0 0;" value='Save'></input>
                        </p>
                    </form>
                </div>
            </div>


        </div>
        <div class="grid_6 alpha" style="margin-top:2em;">
            <center><a  class="blueBtn" style="color:#fff;" href="{% url info_modify %}">USER PROFILE</a></center>
        </div>
        <div class="grid_6 omega" style="margin-top:2em;">
            <center><a class="blueBtn" style="color:#fff;" href="{% url report_teacher %}">REPORT</a></center>
        </div>
    </div>
</div>
</div>

<div style='display:none;'  id="dialog-confirm" title="Are you sure?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this student.</p>
</div>

<div style='display:none;' id="dialog-confirm2" title="Are you sure?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this classroom.</p>
</div>

<div style='display:none;' id="dialog-confirm3" title="Are you sure?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this itempool.</p>
</div>

<div style='display:none;' id="dialog-confirm4" title="Are you sure?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this paper.</p>
</div>

<div style='display:none;' id="dialog-confirm5" title="Are you sure?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this assignment.</p>
</div>

{% endblock %}

