{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/core.css">
	<style type="text/css" media="screen">
		#jMonthCalendar .Meeting { background-color: #660099;}
		#jMonthCalendar .Birthday { background-color: #DD00FF;}
		/*#jMonthCalendar #Event_3 { background-color:#0000FF; }*/
	</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/jMonthCalendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
{% endblock %}

{% block content %}
<div id="wrap">
	<div class="container">
    
	<div id="jMonthCalendar"></div>
	
    </div>
</div>
{% endblock %}
