{% extends "theme_00.html" %}

{% block title %}联客 People Linked{% endblock%}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/core.css">
	<style type="text/css" media="screen">
		#jMonthCalendar .Meeting { background-color: #660099;}
		#jMonthCalendar .Birthday { background-color: #DD00FF;}
		/*#jMonthCalendar #Event_3 { background-color:#0000FF; }*/
	</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing_activity.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slidertron-1.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jMonthCalendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
{% endblock %}

{% block inner_content %}
    <div id="banner">
		<div id="slider">
			<div class="viewer">
				<div class="reel">
					<div class="slide"> <img src="{{ STATIC_URL }}images/activities/event01.jpg" width="900" height="500" alt="event" /> </div>
					<div class="slide"> <img src="{{ STATIC_URL }}images/activities/event02.jpg" width="900" height="500" alt="event" /> </div>
                    <div class="slide"> <img src="{{ STATIC_URL }}images/activities/event03.jpg" width="900" height="500" alt="event" /> </div>
                    <div class="slide"> <img src="{{ STATIC_URL }}images/activities/event04.jpg" width="900" height="500" alt="event" /> </div>
                    <div class="slide"> <img src="{{ STATIC_URL }}images/activities/event05.jpg" width="900" height="500" alt="event" /> </div>
					<div class="slide"> <img src="{{ STATIC_URL }}images/activities/event06.jpg" width="900" height="500" alt="event" /> </div>
                    <div class="slide"> <img src="{{ STATIC_URL }}images/activities/event07.jpg" width="900" height="500" alt="event" /> </div>
                    <div class="slide"> <img src="{{ STATIC_URL }}images/activities/event08.jpg" width="900" height="500" alt="event" /> </div>
                </div>
			</div>
		</div>
        <!--
		<script type="text/javascript">
				$('#slider').slidertron({
					viewerSelector: '.viewer',
					reelSelector: '.viewer .reel',
					slidesSelector: '.viewer .reel .slide',
					advanceDelay: 3000,
					speed: 'slow'
				});
		</script>
        -->
	</div>
    
    <div id="page">
    	<div id="jMonthCalendar"></div>
    </div>
{% endblock %}
