{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}
<div id="wrap">
	<div class="container">
	
    <div class="events-recent-box">
    <h3><a href="http://event.weibo.com/688220">复兴办公社开幕派对</a></h3>
        <div class="events-recent-content">
        <p>
        <strong>
        2012年11月18日 
        </strong>
        @联客_复兴办公社 － 卢湾区雁荡路107号18楼G座
        </p>
            <div class="events-recent-img">
            <img alt="1111" border="0" height="135" src="/uploads/event/image_url/50/1111.JPG" width="135" />
            </div>
            <div class="events-recent-text">
            <p>12月16日，联合创业办公社两周年，邀您一起来见证<br /><br />主题：飞跃世界末日<br /><br />背景：联合创业办公社是上海的一家专门针对创业人群的分享空间，是上海创业者可以称之为家的地方。<br /><br />时间：2012年12月16日 距离“世界末日”还有一周的时候，正值联合创业办公社成立两周年<br /><br />地点：联合创业办公社路演中心 － 延安西路719号4楼 （方正大厦）<br /><br />流程：            09:00 - 12:00   PreAngel路演上海专场            <br />                       12:00 - 01:00   午歇，中午自助餐           <br />                       01:30 - 02:00   联合创业办公社2周年庆典            <br />                       02:00 - 02:15   合作伙伴签约仪式            <br />                       02:15 - 02:45   爱丽胖发布会            <br />                       02:45 - 06:00   天使汇           <br />                       07:00 - 10:00   二周年Party@延平智阁<br /><br />注：早上活动仅限投资人报名 请邮件联系event@people-squared.com<br /><br />请正确填写资料，在备注中填写申请理由，以便我们“船长”审核确认。</p>
            </div>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}
