{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}
<div id="wrap">
	<div class="container">
	
    <div class="events-recent-box">
    <h3><a href="http://event.weibo.com/688220">复兴办公社开幕派对</a></h3>
        <div class="events-recent-content">
        <p>
        <strong>
        2012年11月18日 
        </strong>
        @联客_复兴办公社 － 卢湾区雁荡路107号18楼G座
        </p>
            <div class="events-recent-img">
            <img alt="1111" border="0" height="135" src="/uploads/event/image_url/50/1111.JPG" width="135" />
            </div>
            <div class="events-recent-text">
                <p>{{ txt_intro|safe }}</p>
            </div>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}
