body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../activities_admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:44px;
    top:89px;
    width:241px;
    height:99px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:99px;
}

.u1 {
    position:absolute;
    left:2px;
    top:42px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../activities_admin_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:542px;
    top:22px;
    width:315px;
    height:37px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:34px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:27px
}

.u4_normal {
    background-image: url('../activities_admin_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:22px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../activities_admin_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:22px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../activities_admin_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:22px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../activities_admin_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:41px;
    top:22px;
    width:315px;
    height:35px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u12_normal {
    background-image: url('../activities_admin_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../activities_admin_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../activities_admin_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../activities_admin_files/u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:676px;
    top:86px;
    width:175px;
    height:291px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:288px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:165px;
    height:281px
}

.u20_normal {
    background-image: url('../activities_admin_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:88px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:94px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../activities_admin_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:88px;
    width:160px;
    height:96px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:102px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../activities_admin_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:184px;
    width:160px;
    height:92px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:98px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../activities_admin_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:612px;
    height:3px;
}

.u26 {
    position:absolute;
    left:44px;
    top:208px;
    width:612px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:307px;
    top:163px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_line {
    background-image: url('../activities_admin_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:3px;
    width:788px;
    height:5px;
}

.u28 {
    position:absolute;
    left:57px;
    top:541px;
    width:788px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:57px;
    top:592px;
    width:293px;
    height:114px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u30 {
    position:absolute;
    left:27px;
    top:268px;
    width:652px;
    height:216px
}

.u31_normal {
    background-image: url('../activities_admin_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:75px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:81px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../activities_admin_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:60px;
    top:0px;
    width:367px;
    height:75px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:81px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../activities_admin_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:427px;
    top:0px;
    width:114px;
    height:75px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:81px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../activities_admin_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:540px;
    top:0px;
    width:107px;
    height:75px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:81px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../activities_admin_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:75px;
    width:60px;
    height:71px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:77px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../activities_admin_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:60px;
    top:75px;
    width:367px;
    height:71px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:77px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../activities_admin_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:427px;
    top:75px;
    width:114px;
    height:71px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:77px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../activities_admin_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:540px;
    top:75px;
    width:107px;
    height:71px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:77px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../activities_admin_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:146px;
    width:60px;
    height:65px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:71px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../activities_admin_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:60px;
    top:146px;
    width:367px;
    height:65px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:71px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../activities_admin_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:427px;
    top:146px;
    width:114px;
    height:65px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:71px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../activities_admin_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:540px;
    top:146px;
    width:107px;
    height:65px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:71px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:170px;
    top:288px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:170px;
    top:361px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:169px;
    top:424px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:574px;
    top:497px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_normal {
    background-image: url('../activities_admin_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:489px;
    top:228px;
    width:180px;
    height:33px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:39px;
}

.u68 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:476px;
    top:283px;
    width:71px;
    height:38px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u70 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u71_container {
    position:absolute;
    left:585px;
    top:283px;
    width:71px;
    height:38px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u72 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u73_container {
    position:absolute;
    left:476px;
    top:354px;
    width:71px;
    height:38px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u74 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u75_container {
    position:absolute;
    left:585px;
    top:354px;
    width:71px;
    height:38px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u76 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u77_container {
    position:absolute;
    left:476px;
    top:424px;
    width:71px;
    height:38px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u78 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../activities_admin_files/u69_normal.png');
}

.u79_container {
    position:absolute;
    left:585px;
    top:423px;
    width:71px;
    height:38px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:44px;
}

.u80 {
    position:absolute;
    left:2px;
    top:11px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

