/* CSS Document */
@charset "utf-8";


Input {
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 20px;
	border: 1px solid #666666;
	color: #000000; }

.Calendar {
	font-weight: bold;/*font-family: verdana;*/
	font-size: 20px;
	text-decoration: none;
	position: relative;
	left: 150px;
	width: 700px; /*width: 170;*/
	/*border: 0px dotted #1C6FA5;*/
	/*background-color: #C0D0E8;*/
	font-size: 9pt; 
	cellpadding: 0;
	cellspacing: 0;
	}

.CalendarTD {
	/*font-family: verdana;*/
	font-size: 7pt;
	 border: 1px #999999 solid;
	color: #000000;
	background-color: #ffffff;/*#f6f6f6;*/
	height: 80px; /*height: 20px;*/
	width: 11%;
	text-align: center; }

.Title {
	/*font-family: verdana;*/
	font-size: 11pt;
	font-weight: normal;
	height:60px;/*height: 24px;*/
	text-align: center;
	color: #333333;
	text-decoration: none;
	background-color: #ffffff; /*#A4B9D7;*/
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999; }

.Day {
	/*font-family: verdana;*/
	font-size: 7pt;
	border: 1px #999999 solid;
	color: #243F65;
	background-color: #eee;
	height: 80px; /*height: 20px;*/
	width: 11%;
	text-align: center; }

.DaySat {
	/*font-family: verdana;*/
	font-size: 7pt;
	border: 1px #999999 solid;
	color: #FF0000;
	text-decoration: none;
	background-color: #eee; /*#E5E9F2;*/
	text-align: center;
	height: 80px; /*height: 18px;*/
	width: 12%; }

.DaySun {
	/*font-family: verdana;*/
	font-size: 7pt;
	border: 1px #999999 solid;
	color: #FF0000;
	text-decoration: none;
	background-color: #eee;
	text-align: center;
	height: 80px; /*height: 18px;*/
	width: 12%; }

.DayNow {
	/*font-family: verdana;*/
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
	height: 20px;
	text-align: center; }

.DayTitle {
	/*font-family: verdana;*/
	font-size: 9pt;
	border: 1px #999999 solid;
	color: #000000;
	background-color: #eee; /*#C0D0E8;*/
	height: 20px;
	width: 11%;
	text-align: center; }

.DaySatTitle {
	/*font-family: verdana;*/
	font-size: 9pt;
	border: 1px #999999 solid;
	color: #FF0000;
	text-decoration: none;
	background-color: #eee;
	text-align: center;
	height: 20px;
	width: 12%; }

.DaySunTitle {
	/*font-family: verdana;*/
	font-size: 9pt;
	border: 1px #999999 solid;
	color: #FF0000;
	text-decoration: none;
	background-color: #eee;
	text-align: center;
	height: 20px;
	width: 12%; }

.DayButton {
	font-family: Webdings;
	font-size: 20px;
	font-weight: bold;
	color: #000000; /*#243F65;*/
	cursor: hand;
	text-decoration: none; }

