{% extends "theme_00.html" %}

{% block title %}联客 People Linked{% endblock%}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing_contacts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slidertron-1.1.js"></script>
{% endblock %}

{% block inner_content %}
    <div id="page">
    <p>
        <h3>新浪微博</h3>
        <a href="http://weibo.com/peoplelinkedfuxing">http://weibo.com/peoplelinkedfuxing</a>
    </p>
    <p>
        <h3>豆瓣小站</h3>
        <a href="http://site.douban.com/199483/">http://site.douban.com/199483/</a>
    </p>
    <p><strong>地址：</strong>上海市雁荡路107号雁荡大厦18楼G座</p>
    <p><strong>电话：</strong>189-1665-7206</p>
    <p><strong>邮箱：</strong>peoplelinkedfuxing@gmail.com</p>
    </div>    
{% endblock %}

