{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}
<div id="wrap">
	<div class="container">
	
    <div class="content">
    	<div class="content-box">
        	<div width="150px"></div>
            <div class="box-usual">
                <img alt="rooms" src="{{ STATIC_URL }}/images/rooms-3.jpg" />
            <p>
            <br/>
        	联客复兴办公社——联合创业办公，联盟中小企业，联系人脉网络，我们是联客。
        	</p>
        	</div>
      	</div>
    </div>
    
    </div>
</div>

{% endblock %}
