{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}

<div id="wrap">
	<div class="container">
	<div class="room-reserve">
    	<a href="rooms_reserve.html">我要预定</a>
    </div>
    <div class="room-box">
    <h3>房间A</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p id="room_a"></p>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间B</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p id="room_b"></p>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间C</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p id="room_c"></p>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间D</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p id="room_d"></p>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间E</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p id="room_e"></p>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间F</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
           	<p id="room_f"></p>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
