{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}

<div id="wrap">
	<div class="container">
	
    <div class="room-box">
    <h3>房间A</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            </div>
            <div class="room-reserve">
            <a href="/">预定</a>
            </div>
        </div>
    </div>
    <div class="room-box">
    <h3>房间B</h3>
        <div class="room-content">
            <div class="room-img">
            <img alt="1111" border="0" src="/" />
            </div>
            <div class="room-text">
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            </div>
            <div class="room-reserve">
            <a href="/">预定</a>
            </div>
        </div>
    </div>
    
    </div>
</div>
{% endblock %}
