{% extends "room_base.html" %}

{% block room_conf %}
<div class="slide"> <img src="{{ STATIC_URL }}images/rooms/public_area01.jpg" width="900" height="500" alt="" /> </div>
<div class="slide"> <img src="{{ STATIC_URL }}images/rooms/public_area02.jpg" width="900" height="500" alt="" /> </div>
<div class="slide"> <img src="{{ STATIC_URL }}images/rooms/public_area03.jpg" width="900" height="500" alt="" /> </div>
<div class="slide"> <img src="{{ STATIC_URL }}images/rooms/public_area04.jpg" width="900" height="500" alt="" /> </div>
{% endblock %}
