{% extends "base.html" %}

{% block title %}HOME{% endblock%}
{% block head %}
{% endblock %}

{% block content %}


<div id="wrap">
	<div class="container">
	
    <div class="content">
		<form action="">
        <fieldset>
        <legend>预定信息</legend>
        <p>预订房间：
        <select name="room">
        <option value="">房间A</option>
        <option value="">房间B</option>
        <option value="">房间C</option>
        <option value="">房间D</option>
        <option value="">房间E</option>
        <option value="">房间F</option>
        </select>
        </p>
        <p>开始日期：<input name="start_date" type="text" /> （日期格式：2013-1-1，代表2013年1月1日）</p>
        <p>结束日期：<input name="end_date" type="text" /></p>
        </fieldset>
        <fieldset>
        <legend>客户信息</legend>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 姓名：<input name="guest_admin" type="text" /></p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 电话：<input name="guest_tel" type="text" /></p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 手机：<input name="guest_tel" type="text" /></p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 邮箱：<input name="guest_email" type="text" /></p>
        </fieldset>
        <p><input type="submit" value="提交" /></p>
        </form>
    </div>
    
    </div>
</div>
{% endblock %}
