{% extends "theme_00.html" %}

{% block title %}联客 People Linked{% endblock%}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing_rooms.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slidertron-1.1.min.js"></script>
{% endblock %}

{% block inner_content %}
    <div id="banner">
		<div id="slider">
			<div class="viewer">
				<div class="reel">
                    {% block room_conf %}
                    {% endblock %}
                </div>
			</div>
		</div>
	</div>   
	<div id="page">
        <div id="content">
            <p><a href="{% url reserve %}">我要预订</a></p>
        </div>
		<div id="sidebar">
			<div>
				<h2>房间信息</h2>
					<ul class="style1">
						<li class="first"><a href="{% url room_public %}">公共区域——可容纳40人</a></li>
                        <li><a href="{% url room_small %}">小办公室——也可作洽谈室</a></li>
						<li><a href="{% url room_big %}">大会议室——配备可拉门</a></li>
                        <li><a href="{% url room_a %}">办公室A——方向朝南</a></li>
						<li><a href="{% url room_b %}">办公室B——可自由搭配内部装饰</a></li>
						<li><a href="{% url room_c %}">办公室C——可自由搭配内部装饰</a></li>
						<li><a href="{% url room_d %}">办公室D——也可作培训小教室</a></li>
						<li><a href="{% url room_e %}">办公室E——也可作培训小教室</a></li>
					</ul>
			
			</div>
		</div>

    </div>

{% endblock %}
