<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/default.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing.common.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing.ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing.util.js"></script>
    <!--
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/960.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.23.custom.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/fuxing.ui.js"></script>
    -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sitelock-site-verification" content="2240" />
    <meta name="keywords" content="People Linked, 联客, 复兴办公社" />
    <meta name="description" content="复兴办公社" />
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
    <!--
    {% include 'head.html' %}
    -->
	{% block content %}{% endblock %}
</body>
</html>
