<!--
{% load string_cut %}
-->
    <div id="header">
    	<div class="container">
				<div class="header-main">
					<div class="header-left">
                        <ul class="list-website">
                            <li><a href="{% url listall %}">场地</a></li>
                            <li><a href="{% url activity %}">活动</a></li>
                            <li><a href="http://weibo.com/peoplelinkedfuxing">微博</a></li>
                            <li><a href="http://site.douban.com/199483/">豆瓣</a></li>
                        </ul>
                	</div>
                	<div class="header-right">
                        <ul class="list-lang">
                            <li class="current"><a id='chinese_link'>中文</a></li>
                            <li><a href="/en/">English</a></li>
                        </ul>
                        <ul class="list-login">
                            <li><a href="/admin/">管理员登录</a></li>
                        </ul>
                    </div>
                </div>
             
    <div class="content">
    	<div class="banner">
    		<div class="banner-l">
       			<div class="logo">
                    <a href="/"><img alt="People Linked" border="0" src="{{ STATIC_URL }}/images/logo-2.jpg" /></a>
                <!--<h1>复兴办公社</h1>-->
                </div>
            </div>
		</div>
	</div>
	</div>
</div>
